* { /* valores a 0 del navegador para márgenes */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, rgba(71, 41, 48, 0.75) 0%,rgba(34, 7, 13, 0.75) 50%, rgba(8, 7, 7, 3) 100%);
}

.menu a{
    background-color:rgb(36, 23, 26);
    color:rgb(164, 144, 144);
    text-decoration: none;
    text-align: center;
    padding: 5px;
    float: right;
    margin-top: 50px;
    margin-right: 70px;
    font-family: 'Roboto', sans-serif;
}

.menu a:hover{
    background-color: rgb(164, 144, 144);
    color: rgb(36, 23, 26);
}

.imageninicio{ 
    /*Supongamos que nuestro contenedor mide 150px x 150px*/
    width: 400px;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 800px; 
}

img{
    /*Aplicamos la propiedad object-fit cover, ajustar su tamaño y no perder la proporcion de nuestra imagen*/
    object-fit: cover;
    width: 200px;
    height: 200px;
    
}

.textobio{
    color: rgb(187, 183, 183);
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
    margin-left: 100px;
    margin-top: 140px;
    position: absolute; z-index:2;
}
 

